.no-contacts-notification {
    display: flex;
    background: #f5f5f5;
    border: 1px solid #c3b4b4;
    width: 35%;
    margin-left: 20%;
    border-radius: 5px;
    padding: 15px;
}

.notification-content {
    display: flex;
    width: 100%;
    font-family: Arial, sans-serif;
    align-items: flex-start;
    justify-content: center; /* Разделить заголовок и span */
}

.notification-text h3 {
    font-weight: normal;
}

.notification-text span {
    margin-left: 140px;
    font-size: 15px;
}